<ng-container *ngIf="auth.userData$ | async as user">
  <ng-container *ngIf="projectVM$ | async as pvm">
    <div class="cont" *ngIf="taskVM$ | async as tvm">
      <h1>{{ pvm.project?.name }}</h1>
      <p-toast position="top-right"></p-toast>
      <div class="create-project-button">
        <button
          *ngIf="
            (pvm.project?.ownerIds | checkTaskMembership: user.userData.sub) ||
            (pvm.project?.clientIds | checkTaskMembership: user.userData.sub)
          "
          pButton
          class="p-button-raised"
          type="button"
          icon="pi pi-plus"
          style="width: 30px; height: 30px"
          (click)="openCreateTaskModal()"></button>
        <app-task-create
          title="Create Task"
          [isLoading]="tvm.isAddLoading | loadingState"
          [showModal]="showCreateTaskModal"
          (closed)="openCreateTaskModal(false)"
          (submitted)="onProjectTaskCreate($event)"></app-task-create>
        <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
      </div>
      <app-task-create
        [task]="tvm.selectedProject!"
        title="Edit Task"
        [isLoading]="tvm.isUpdateLoading | loadingState"
        [showModal]="showEditTaskModal"
        (closed)="openEditTaskModal(false)"
        (submitted)="onProjectTaskUpdate($event)"></app-task-create>
      <p-tabView>
        <p-tabPanel header="Tasks" [selected]="true">
          <div fxLayout="column" fxLayoutGap="10px">
            <app-task
              [options]="{
                showEdit:
                  (pvm.project?.ownerIds | checkTaskMembership: user.userData.sub) ||
                  (pvm.project?.clientIds | checkTaskMembership: user.userData.sub),
                showView: true,
                showDelete: (pvm.project?.ownerIds | checkTaskMembership: user.userData.sub)
              }"
              [isDeleteLoading]="(tvm.isRemoveLoading | loadingState) && tvm.selectedProject?.id === item.id"
              [isEditLoading]="(tvm.isUpdateLoading | loadingState) && tvm.selectedProject?.id === item.id"
              [projectTaskItem]="item"
              fxFlex
              *ngFor="let item of tvm.projectTasks | filterCompletedTask: false"
              (delete)="onProjectTaskDelete($event, item.id)"
              (edit)="editEditTaskModal($event)"
              (setComplete)="onProjectTaskSetComplete($event)"></app-task>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Completed">
          <div fxLayout="column" fxLayoutGap="10px">
            <app-task
              fxFlex
              [options]="{
                showEdit:
                  (pvm.project?.ownerIds | checkTaskMembership: user.userData.sub) ||
                  (pvm.project?.clientIds | checkTaskMembership: user.userData.sub),
                showView: true,
                showDelete: (pvm.project?.ownerIds | checkTaskMembership: user.userData.sub)
              }"
              [isDeleteLoading]="(tvm.isRemoveLoading | loadingState) && tvm.selectedProject?.id === item.id"
              [isEditLoading]="(tvm.isUpdateLoading | loadingState) && tvm.selectedProject?.id === item.id"
              [projectTaskItem]="item"
              fxFlex
              *ngFor="let item of tvm.projectTasks | filterCompletedTask: true"
              (delete)="onProjectTaskDelete($event, item.id)"
              (edit)="editEditTaskModal($event)"
              (setComplete)="onProjectTaskSetComplete($event)"></app-task>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Members">
          <div fxLayout="row wrap" fxLayoutGap="{{ gridGap }}px grid" *ngIf="memberVM$ | async as vm">
            <div fxFlex="100%" class="button-cont">
              <button
                *ngIf="pvm.project?.ownerIds | checkTaskMembership: user.userData.sub"
                class="button"
                pButton
                type="button"
                label="Invite"
                (click)="openInviteUserModal()"></button>
              <app-member-create
                [roles]="roles"
                title="Invite Member"
                [isLoading]="vm.projectUserInviteLoadingState | loadingState"
                [showModal]="showInviteModal"
                (closed)="openInviteUserModal(false)"
                (submitted)="onProjectUserInvite($event)"></app-member-create>
            </div>
            <div
              fxFlex.gt-md="calc(33% - {{ gridGap }}px)"
              fxFlex.lt-lg="0 0 calc(50% - {{ gridGap }}px)"
              fxFlex.lt-md="calc(100% - {{ gridGap }}px)">
              <p-chip [style]="{ backgroundColor: 'var(--primary)', color: 'white' }" label="Owners"></p-chip>
              <app-member-list
                [ownerIds]="pvm.project?.ownerIds!"
                [members]="vm.projectUsers | filterProjectRole: ProjectRole.OWNER | projectuserToMember"
                [isDeleteLoading]="vm.projectUserRemoveLoadingState | loadingState"
                [selectedProjectUserId]="vm.selectedProjectUser?.id!"
                (deleted)="onProjectUserDelete($event)"></app-member-list>
            </div>
            <div
              fxFlex.gt-md="calc(33% - {{ gridGap }}px)"
              fxFlex.lt-lg="0 0 calc(50% - {{ gridGap }}px)"
              fxFlex.lt-md="calc(100% - {{ gridGap }}px)">
              <p-chip [style]="{ backgroundColor: 'var(--primary)', color: 'white' }" label="Participant"></p-chip>
              <app-member-list
                [ownerIds]="pvm.project?.ownerIds!"
                [members]="vm.projectUsers | filterProjectRole: ProjectRole.PARTICIPANT | projectuserToMember"
                [isDeleteLoading]="vm.projectUserRemoveLoadingState | loadingState"
                [selectedProjectUserId]="vm.selectedProjectUser?.id!"
                (deleted)="onProjectUserDelete($event)"></app-member-list>
            </div>
            <div
              fxFlex.gt-md="calc(33% - {{ gridGap }}px)"
              fxFlex.lt-lg="0 0 calc(50% - {{ gridGap }}px)"
              fxFlex.lt-md="calc(100% - {{ gridGap }}px)">
              <p-chip [style]="{ backgroundColor: 'var(--primary)', color: 'white' }" label="Clients"></p-chip>
              <app-member-list
                [ownerIds]="pvm.project?.ownerIds!"
                [members]="vm.projectUsers | filterProjectRole: ProjectRole.CLIENT | projectuserToMember"
                [isDeleteLoading]="vm.projectUserRemoveLoadingState | loadingState"
                [selectedProjectUserId]="vm.selectedProjectUser?.id!"
                (deleted)="onProjectUserDelete($event)"></app-member-list>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </ng-container>
</ng-container>
