<div class="cont" *ngIf="vm$ | async as vm">
  <p-toast position="top-right"></p-toast>
  <div class="create-project-button">
    <button
      pButton
      class="p-button-raised"
      type="button"
      icon="pi pi-plus"
      style="width: 30px; height: 30px"
      (click)="toggleCreateTaskModal()"></button>
    <app-task-create [showModal]="showCreateTaskModal" (closed)="toggleCreateTaskModal()"></app-task-create>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
  </div>

  <p-tabView>
    <p-tabPanel header="Tasks">
      <div fxLayout="column" fxLayoutGap="10px">
        <app-task fxFlex *ngFor="let item of [1, 2, 3, 4, 5]"></app-task>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Completed">
      <div fxLayout="column" fxLayoutGap="10px">
        <app-task fxFlex *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8]"></app-task>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Members" [selected]="true">
      <div fxLayout="row wrap" fxLayoutGap="{{ gridGap }}px grid">
        <div fxFlex="100%" class="button-cont">
          <button class="button" pButton type="button" label="Invite" (click)="openCreateModal()"></button>
          <app-member-create
            [roles]="roles"
            title="Invite Member"
            [isLoading]="vm.projectUserInviteLoadingState | loadingState"
            [showModal]="showInviteModal"
            (closed)="openCreateModal(false)"
            (submitted)="onProjectUserInvite($event)"></app-member-create>
        </div>
        <div
          fxFlex.gt-md="calc(33% - {{ gridGap }}px)"
          fxFlex.lt-lg="0 0 calc(50% - {{ gridGap }}px)"
          fxFlex.lt-md="calc(100% - {{ gridGap }}px)">
          <p-chip [style]="{ backgroundColor: 'var(--primary)', color: 'white' }" label="Owners"></p-chip>
          <app-member-list
            [members]="vm.projectUsers | filterProjectRole: ProjectRole.OWNER | projectuserToMember"
            (deleted)="onProjectUserDelete($event)"></app-member-list>
        </div>
        <div
          fxFlex.gt-md="calc(33% - {{ gridGap }}px)"
          fxFlex.lt-lg="0 0 calc(50% - {{ gridGap }}px)"
          fxFlex.lt-md="calc(100% - {{ gridGap }}px)">
          <p-chip [style]="{ backgroundColor: 'var(--primary)', color: 'white' }" label="Participant"></p-chip>
          <app-member-list
            [members]="vm.projectUsers | filterProjectRole: ProjectRole.PARTICIPANT | projectuserToMember"
            (deleted)="onProjectUserDelete($event)"></app-member-list>
        </div>
        <div
          fxFlex.gt-md="calc(33% - {{ gridGap }}px)"
          fxFlex.lt-lg="0 0 calc(50% - {{ gridGap }}px)"
          fxFlex.lt-md="calc(100% - {{ gridGap }}px)">
          <p-chip [style]="{ backgroundColor: 'var(--primary)', color: 'white' }" label="Clients"></p-chip>
          <app-member-list
            [members]="vm.projectUsers | filterProjectRole: ProjectRole.CLIENT | projectuserToMember"
            (deleted)="onProjectUserDelete($event)"></app-member-list>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
