@import 'src/styles.scss';

.task-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1em;
  row-gap: 1em;
}

.cont {
  @include main-cont;
}

.create-project-button {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 1;
}

.button-cont {
  position: relative;
}

.button {
  position: absolute;
  top: 0;
  right: 2em;
  height: 2em;
}
