<div class="task">
  <div>
    <h2>{{ projectTaskItem.title }}</h2>
    <app-tag [options]="{ featureType: projectTaskItem.tag === TaskTag.BUG ? 'bug' : 'feature' }">
      <div style="display: flex">
        <div style="margin-right: 0.5em">{{ projectTaskItem.tag }}</div>
        <mat-icon>{{ projectTaskItem.tag === TaskTag.BUG ? 'pest_control' : 'view_in_ar' }}</mat-icon>
      </div>
    </app-tag>
  </div>
  <form [formGroup]="form">
    <div class="completed-checkbox" *ngIf="options.showEdit">
      <p-checkbox formControlName="checked" [binary]="true"></p-checkbox>
    </div>
  </form>

  <div class="actions" fxLayout="row" fxLayoutGap="5px">
    <button
      *ngIf="options.showView"
      style="color: var(--primary)"
      pButton
      type="button"
      icon="pi pi-eye"
      class="p-button-outlined p-button-rounded"
      [routerLink]="['task/' + projectTaskItem.id]"></button>
    <button
      *ngIf="options.showEdit"
      style="color: var(--accent)"
      pButton
      type="button"
      icon="pi pi-pencil"
      class="p-button-outlined p-button-rounded"
      (click)="onEdit(projectTaskItem)"></button>
    <button
      *ngIf="options.showDelete"
      style="color: var(--warn)"
      pButton
      type="button"
      [icon]="isDeleteLoading ? 'pi pi-spin pi-spinner' : 'pi pi-times'"
      [disabled]="isDeleteLoading"
      class="p-button-outlined p-button-rounded"
      (click)="onDelete($event)"></button>
  </div>
</div>
