<div class="cont" *ngIf="vm$ | async as vm">
  <p-toast position="top-right"></p-toast>
  <div class="create-project-button">
    <button pButton class="p-button-raised btn" type="button" icon="pi pi-plus" (click)="toggleModal()"></button>
    <app-project-create
      [showModal]="showPopup"
      [isLoading]="vm.isAddLoading | loadingState"
      (closed)="closeModal()"
      (submit)="onProjectCreate($event)"></app-project-create>
  </div>
  <h1>Projects</h1>
  <p-tabView (onChange)="handleChange($event)">
    <p-tabPanel header="Owned">
      <div fxLayout="row wrap" fxLayoutGap.gt-xs="{{ gridGap }}px grid" fxLayoutGap.xs="{{ gridGap / 2 }}px grid">
        <ng-container *ngIf="!(vm.isListLoading | loadingState); else skeleton">
          <div
            fxFlex="0 0 calc(33.3%)"
            fxFlex.lt-lg="0 0 calc(50%)"
            fxFlex.lt-md="calc(100%)"
            *ngFor="let project of vm.projects">
            <app-project-card
              [project]="project"
              (delete)="onProjectDelete($event, project.id)"
              (edit)="onProjectEdit(project)">
            </app-project-card>
          </div>
          <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
        </ng-container>
        <ng-template #skeleton> Loading... </ng-template>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Participant">
      <div fxLayout="row wrap" fxLayoutGap.gt-xs="{{ gridGap }}px grid" fxLayoutGap.xs="{{ gridGap / 2 }}px grid">
        <div
          fxFlex="0 0 calc(33.3%)"
          fxFlex.lt-lg="0 0 calc(50%)"
          fxFlex.lt-md="calc(100%)"
          *ngFor="let item of [1, 2, 3, 4, 5]">
          <app-project-card></app-project-card>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Client"
      ><div fxLayout="row wrap" fxLayoutGap.gt-xs="{{ gridGap }}px grid" fxLayoutGap.xs="{{ gridGap / 2 }}px grid">
        <div
          fxFlex="0 0 calc(33.3%)"
          fxFlex.lt-lg="0 0 calc(50%)"
          fxFlex.lt-md="calc(100%)"
          *ngFor="let item of [1, 2, 3, 4, 5]">
          <app-project-card></app-project-card>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
