<div class="cont">
  <button class="create-project-button fancy-button">Create Task</button>

  <p-tabView>
    <p-tabPanel header="Tasks">
      <div fxLayout="column">
        <app-task fxFlex *ngFor="let item of [1, 2, 3, 4, 5]"></app-task>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Completed Tasks">
      <div fxLayout="column">
        <app-task fxFlex *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8]"></app-task>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Members">
      <div fxLayout="row wrap" fxLayoutGap="{{ gridGap }}px grid">
        <div
          fxFlex.gt-md="calc(33% - {{ gridGap }}px)"
          fxFlex.lt-lg="0 0 calc(50% - {{ gridGap }}px)"
          fxFlex.lt-md="calc(100% - {{ gridGap }}px)">
          <p-chip label="Owner"></p-chip>
          <app-member-list></app-member-list>
        </div>
        <div
          fxFlex.gt-md="calc(33% - {{ gridGap }}px)"
          fxFlex.lt-lg="0 0 calc(50% - {{ gridGap }}px)"
          fxFlex.lt-md="calc(100% - {{ gridGap }}px)">
          <p-chip label="Invited"></p-chip>
          <app-member-list></app-member-list>
        </div>
        <div
          fxFlex.gt-md="calc(33% - {{ gridGap }}px)"
          fxFlex.lt-lg="0 0 calc(50% - {{ gridGap }}px)"
          fxFlex.lt-md="calc(100% - {{ gridGap }}px)">
          <p-chip label="Clients"></p-chip>
          <app-member-list></app-member-list>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
