.task-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1em;
  row-gap: 1em;
}

.cont {
  padding: 4em;
  position: relative;
}

.create-project-button {
  position: absolute;
  top: 1em;
  right: 1em;
}
