<div class="cont">
  <button class="create-project-button fancy-button">Create Task</button>

  <p-tabView>
    <p-tabPanel header="Tasks">
      <div class="task-container">
        <app-task *ngFor="let item of [1, 2, 3, 4, 5]"></app-task>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Completed Tasks">
      <div class="task-container">
        <app-task *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8]"></app-task>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Members">
      <div fxLayout="row wrap" fxLayoutGap="20px grid">
        <div fxFlex.gt-lg="calc(33% - 20px)" fxFlex.lt-lg="0 0 calc(50% - 20px)" fxFlex.lt-md="calc(100% - 20px)">
          <p-chip label="Owner"></p-chip>
          <app-member-list></app-member-list>
        </div>
        <div fxFlex.gt-lg="calc(33% - 20px)" fxFlex.lt-lg="0 0 calc(50% - 20px)" fxFlex.lt-md="calc(100% - 20px)">
          <p-chip label="Invited"></p-chip>
          <app-member-list></app-member-list>
        </div>
        <div fxFlex.gt-lg="calc(33% - 20px)" fxFlex.lt-lg="0 0 calc(50% - 20px)" fxFlex.lt-md="calc(100% - 20px)">
          <p-chip label="Clients"></p-chip>
          <app-member-list></app-member-list>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
