<button (click)="toggle('showTask')">Tasks</button>
<button (click)="toggle('showHistory')">History</button>
<button (click)="toggle('showMembers')">Members</button>

<div class="task-container" *ngIf="obj['showTask']">
  <app-task *ngFor="let item of [1, 2, 3, 4, 5]"></app-task>
</div>

<div class="task-container" *ngIf="obj['showHistory']">
  <app-task *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8]"></app-task>
</div>

<div class="task-container" *ngIf="obj['showMembers']">
  <div>
    Owners
    <div *ngFor="let item of [1]">Member {{ item }}</div>
  </div>
  <div>
    Clients
    <div *ngFor="let item of [1, 2, 3]">Member {{ item }}</div>
  </div>
  <div>
    Invited
    <div *ngFor="let item of [1, 2, 3, 4, 5]">Member {{ item }}</div>
  </div>
</div>
