.main-content-container {
  // padding: 4em;
  border-radius: 15px;
  background-color: var(--bg-color);
  box-shadow: 0 0 3px 0.5px rgb(200, 200, 200);
  margin: 5em 15em;
  min-height: calc(100% - (2 * 4em) - (2 * 5em));
}

.main {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(100% - 60px);
  overflow-y: scroll;
  width: 100%;
}

@media screen and (max-width: 1500px) {
  .main {
    padding: 5em 2em;
  }
}

@media screen and (max-width: 500px) {
  .main {
    padding: 2em 0.5em;
  }

  .main-content-container {
    padding: 2em;
  }
}
