.project-card {
  border-radius: 15px;
  background-color: var(--bg-color);
  box-shadow: 0 0 3px 0.5px rgb(200, 200, 200);
  height: 20em;
  padding: 3em;
  margin: 0;
}

.project-card:hover {
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}
