<div class="project-card">
  <h2>{{ project?.name }}</h2>
  <p>{{ project?.description }}</p>
  <div class="actions" fxLayout="row" fxLayoutGap="5px">
    <button
      style="color: var(--primary)"
      pButton
      type="button"
      icon="pi pi-eye"
      class="p-button-outlined p-button-rounded"
      [routerLink]="['/projects/1']"></button>
    <button
      style="color: var(--accent)"
      pButton
      type="button"
      icon="pi pi-pencil"
      class="p-button-outlined p-button-rounded"
      (click)="onEdit(project.id)"></button>
    <button
      style="color: var(--warn)"
      pButton
      type="button"
      [icon]="isDeleteLoading ? 'pi pi-spin pi-spinner' : 'pi pi-times'"
      [disabled]="isDeleteLoading"
      class="p-button-outlined p-button-rounded"
      (click)="onDelete($event)"></button>
  </div>
</div>
