<div class="cont" *ngIf="vm$ | async as vm">
  <h2>title</h2>
  <form [formGroup]="form" (ngSubmit)="submit(vm.taskView!)">
    <div style="display: flex; flex-direction: column; row-gap: 2em">
      <textarea pInputTextarea formControlName="description" [autoResize]="true"></textarea>
      <button
        [loading]="vm.isUpdateLoading | loadingState"
        pButton
        type="submit"
        label="Save"
        [disabled]="!form.valid"></button>
    </div>
  </form>

  <!-- <button pButton type="button" label="Create scrum task" (click)="toggle()"></button>

  <app-trello-task-popup [showPopup]="showPopup" (closed)="toggle()"></app-trello-task-popup> -->
</div>
