<app-modal [showPopup]="showModal" [title]="title" (closed)="onClose()">
  <form [formGroup]="projectCreateForm" (ngSubmit)="onSubmit($event)">
    <div fxLayout="column" fxLayoutGap="40px" class="form-cont">
      <span class="p-float-label username">
        <input id="float-input" type="text" pInputText style="width: 270px" formControlName="title" />
        <label for="float-input">Title</label>
      </span>
      <ng-container *ngIf="!isLoading; else loading">
        <button pButton type="submit" label="Submit" [disabled]="!projectCreateForm.valid"></button>
      </ng-container>
      <ng-template #loading>
        <button
          pButton
          class="p-button-raised"
          icon="pi pi-spin pi-spinner"
          style="width: 100%"
          [disabled]="true"></button>
      </ng-template>
    </div>
  </form>
</app-modal>
