.navbar {
  display: flex;
  width: 100vw;
  height: 60px;
  background-color: var(--bg-color-2);
  box-shadow: 0 0 1px 1px rgb(200, 200, 200);
  position: fixed;
  z-index: 999;
}

.nav-links {
  display: grid;
  align-items: center;
  column-gap: 2em;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  right: 2em;
  top: 0;
  height: 60px;
  font-weight: 700;
  font-size: 14px;
  font-family: 'Montserrat';
  text-transform: uppercase;
  cursor: pointer;
}

.link {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent);
  &:hover {
    background-color: var(--accent);
    color: var(--bg-color);
    cursor: pointer;
  }
}

.logout-btn {
  border: none;
  box-shadow: 0 0 1px 3px var(--accent);
  padding: 0.5em 1em;
  background-color: var(--bg-color);
  border-radius: 2px;
  color: var(--accent);
  font-weight: 700;
  font-size: 1em;
  &:hover {
    background-color: var(--accent);
    color: var(--bg-color);
    cursor: pointer;
  }
}
