<div class="cont" *ngIf="vm$ | async as vm">
  <p-toast position="top-right"></p-toast>
  <div class="create-project-button">
    <button
      id="proj-create-button"
      pButton
      class="p-button-raised btn"
      type="button"
      icon="pi pi-plus"
      (click)="openCreateModal(true)"></button>
    <app-project-create
      [showModal]="showCreateModal"
      [isLoading]="vm.isAddLoading | loadingState"
      title="Create Project"
      (closed)="openCreateModal(false)"
      (submitted)="onProjectCreate($event)">
    </app-project-create>
  </div>
  <h1>Projects</h1>
  <app-project-create
    [project]="vm.selectedProject!"
    [showModal]="showEditModal"
    [isLoading]="vm.isUpdateLoading | loadingState"
    title="Update Project"
    (closed)="openEditModal(false)"
    (submitted)="onProjectEdit($event)"></app-project-create>
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
  <p-tabView>
    <p-tabPanel header="Owned">
      <div fxLayout="row wrap" fxLayoutGap.gt-xs="40px grid" fxLayoutGap.xs="20px grid">
        <ng-container *ngIf="!(vm.isListLoading | loadingState); else skeleton">
          <div
            fxFlex="0 0 calc(33.3%)"
            fxFlex.lt-lg="0 0 calc(50%)"
            fxFlex.lt-md="calc(100%)"
            *ngFor="let project of vm.projects | filterProjectRole: ProjectRole.OWNER">
            <app-project-card
              [options]="{ showEdit: true, showView: true, showDelete: true }"
              [isDeleteLoading]="(vm.isRemoveLoading | loadingState) && vm.selectedProject?.id === project.id"
              [project]="project"
              (delete)="onProjectDelete($event, project.id)"
              (edit)="editEditModal($event)">
            </app-project-card>
          </div>
        </ng-container>
        <ng-template #skeleton> Loading... </ng-template>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Participant">
      <div fxLayout="row wrap" fxLayoutGap.gt-xs="40px grid" fxLayoutGap.xs="20px grid">
        <div
          fxFlex="0 0 calc(33.3%)"
          fxFlex.lt-lg="0 0 calc(50%)"
          fxFlex.lt-md="calc(100%)"
          *ngFor="let project of vm.projects | filterProjectRole: ProjectRole.PARTICIPANT">
          <app-project-card
            [options]="{ showEdit: false, showView: true, showDelete: false }"
            [isDeleteLoading]="(vm.isRemoveLoading | loadingState) && vm.selectedProject?.id === project.id"
            [project]="project"
            (delete)="onProjectDelete($event, project.id)"
            (edit)="editEditModal($event)"></app-project-card>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Client"
      ><div fxLayout="row wrap" fxLayoutGap.gt-xs="40px grid" fxLayoutGap.xs="20px grid">
        <div
          fxFlex="0 0 calc(33.3%)"
          fxFlex.lt-lg="0 0 calc(50%)"
          fxFlex.lt-md="calc(100%)"
          *ngFor="let project of vm.projects | filterProjectRole: ProjectRole.CLIENT">
          <app-project-card
            [options]="{ showEdit: false, showView: true, showDelete: false }"
            [isDeleteLoading]="(vm.isRemoveLoading | loadingState) && vm.selectedProject?.id === project.id"
            [project]="project"
            (delete)="onProjectDelete($event, project.id)"
            (edit)="editEditModal($event)"></app-project-card>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
