<app-modal [showPopup]="showModal" [title]="title" (closed)="onClose()">
  <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <div fxLayout="column" fxLayoutGap="40px" class="form-cont">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText style="width: 270px" formControlName="email" />
        <label for="float-input">Email</label>
      </span>
      <span style="position: relative">
        <label *ngIf="form.controls['role']?.value?.length > 0" class="p-float-label-copy" for="float-dropdown"
          >Role</label
        >

        <p-dropdown
          appendTo="body"
          [style]="{ width: '270px' }"
          id="float-dropdown"
          [options]="roles"
          formControlName="role"
          placeholder="Select a role"></p-dropdown>
      </span>

      <button [loading]="isLoading" pButton type="submit" label="Submit" [disabled]="!form.valid"></button>
    </div>
  </form>
</app-modal>
